<h2>Sign up</h2>
<div class="for-sign-up">

  <%= render "form" %>

</div>

<%= render "devise/shared/links" %>
<div id="modal-window" class="modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>